body {
    position: absolute;
    width: 550px;
    height: 550px;
    left: 62px;
    top: 64px;

    background: #1F2937;
}

#heading1 {
    position: absolute;
    width: 354px;
    height: 80px;
    left: 52px;
    top: 115px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */
    letter-spacing: -0.025em;

    /* white */
    color: #FFFFFF;
}
#heading2 {
    position: absolute;
    width: 354px;
    height: 80px;
    left: 52px;
    top: 160px;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */
    letter-spacing: -0.025em;

    /* white */
    color: #10B981;
}

#subtext {
    position: absolute;
width: 372px;
height: 28px;
left: 52px;
top: 210px;

/* text-xl/leading-7/font-normal */
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 28px;
/* identical to box height, or 140% */

/* Medium grey */
color: #D5D4D8;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;

    position: absolute;
    width: 191px;
    height: 42px;
    left: 52px;
    top: 400px;

    background: #10B981;
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

#button-text {
    width: 159px;
height: 24px;

/* text-base/leading-6/font-medium */
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 150% */

/* white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

#length-text {
    position: absolute;
    top: 264px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 13.5px;
line-height: 15px;
color: #D5D4D8;
left: 52px;
}

#pwd-input {
    position: absolute;
    top: 147px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 13.5px;
line-height: 15px;
left: 26px;
width: 58px;
border-radius: 6px;
}

#pwd-length {
    position: absolute;
    top: 147px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 13.5px;
line-height: 15px;
left: 26px;
}

#submit {
    position: absolute;
    top: 170px;
    left: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 13.5px;
line-height: 15px;
background-color: #10B981;
color: #FFFFFF;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    text-align: center;
    padding: auto;
}

hr {
    position: absolute;
width: 446px;
height: 0px;
left: 52px;
top: 426px;

border: 1px solid #2F3E53;
}

.pwd1-class {
    position: absolute;
width: 211px;
height: 39px;
left: 52px;
top: 465px;

background: #273549;
border-radius: 6px;
}

.pwd2-class {
    position: absolute;
width: 211px;
height: 39px;
left: 287px;
top: 465px;

background: #273549;
border-radius: 6px;
}

#pwd-1 {
    position: absolute;
width: 211px;
height: 39px;
left: 67px;
top: 465px;

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */
text-align: center;

color: #55F991;
}

#pwd-2 {
    position: absolute;
width: 211px;
height: 39px;
left: 297px;
top: 465px;

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */
text-align: center;

color: #55F991;
}
